<a href="https://colab.research.google.com/github/JoaoCuri/Some_challenges/blob/main/list_dict_comprehention.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**List and dictionary comprehention**

In [1]:
numbers=[1,2,3]
new_list=[]
for n in numbers:
  ad=n+1
  new_list.append(ad)

print(new_list)

[2, 3, 4]

In [2]:
numbers=[1,2,3]
new_list=[n+1 for n in numbers]
print(new_list)

[2, 3, 4]

In [3]:
numbers=[1,2,3]
new_list=[n+1 for n in numbers]
print(new_list)

[2, 3, 4]

In [4]:
nomes=["Alex","Beth","Caroline","Dave","Eleonor","Freddie"]

In [5]:
short_name=[n for n in nomes if len(n)<5 ]
short_name

['Alex', 'Beth', 'Dave']

In [6]:
al_caps=[n.upper() for n in nomes if len(n)>5]
al_caps

['CAROLINE', 'ELEONOR', 'FREDDIE']

In [7]:
lista=[1, 1, 4, 9, 25, 64, 169, 441, 1156, 3025]

In [8]:
new_list=[n*n for n in lista]
new_list

[1, 1, 16, 81, 625, 4096, 28561, 194481, 1336336, 9150625]

In [9]:
numbers = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [10]:
new_list=[ n for n in numbers if n%2==0]
new_list

[2, 8, 34]

In [11]:
import random

names=['Alex','Beth','Caroline','Dave','Eleonor','Freddie']

students_score={student:random.randint(1, 100) for student in names}

In [12]:
students_score

{'Alex': 71,
 'Beth': 82,
 'Caroline': 54,
 'Dave': 69,
 'Eleonor': 79,
 'Freddie': 28}

Dictionary

In [13]:
sentence = "What is the Airspeed Velocity of an Unladen Swallow?"

In [14]:
result ={word:len(word) for word in sentence.split(" ") }
result

{'Airspeed': 8,
 'Swallow?': 8,
 'Unladen': 7,
 'Velocity': 8,
 'What': 4,
 'an': 2,
 'is': 2,
 'of': 2,
 'the': 3}

In [15]:
weather_c = {
    "Monday": 12,
    "Tuesday": 14,
    "Wednesday": 15,
    "Thursday": 14,
    "Friday": 21,
    "Saturday": 22,
    "Sunday": 24,
}

In [16]:
weather_f = {day:(weather_c[day]*9/5)+32 for day in weather_c }
print(weather_f)

{'Monday': 53.6, 'Tuesday': 57.2, 'Wednesday': 59.0, 'Thursday': 57.2, 'Friday': 69.8, 'Saturday': 71.6, 'Sunday': 75.2}

Outro jeito

In [17]:
weather_f = {day:(weather_c[day]*9/5)+32 for (day,temp) in weather_c.items() }
weather_f

{'Friday': 69.8,
 'Monday': 53.6,
 'Saturday': 71.6,
 'Sunday': 75.2,
 'Thursday': 57.2,
 'Tuesday': 57.2,
 'Wednesday': 59.0}

In [18]:
student_dict={
    'students':['Angela','James','Lilly'],
    'score':[56,76,98]
}

In [19]:
import pandas as pd

DF=pd.DataFrame(student_dict)
DF

  students  score
0   Angela     56
1    James     76
2    Lilly     98

In [20]:
for (key,value) in DF.items():
  print(value)

0    Angela
1     James
2     Lilly
Name: students, dtype: object
0    56
1    76
2    98
Name: score, dtype: int64

In [21]:
for (index,row)in DF.iterrows():
  print(row)

students    Angela
score           56
Name: 0, dtype: object
students    James
score          76
Name: 1, dtype: object
students    Lilly
score          98
Name: 2, dtype: object

In [22]:
for (index,row)in DF.iterrows():
  if row.students == "Angela":
    print(row.score)

56